<form method="POST" action="http://{$dominio}/parchis/index/crearPartida" >
    <b>Jugadores: </b>
    <input type="text" name="txt_jugadores" required="true" />
    <input type="submit" value="Iniciar partida" />
</form>

